/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .banner-text h1 {
        font-size: 52px;
    }
    .businessPlanContent h2 {
        font-size: 35px;
    }
    .carousel-item img {
        max-width: 100%;
    }
    .serRight h3 {
        font-size: 35px;
        line-height: 50px;
        color: #1f1f1f;
        font-weight: 700;
        margin-bottom: 45px;
    }
    .service {
        padding: 50px 0;
    }
    .immg img {
        max-width: 100%;
    }
    .clients-img img {
        max-width: 100%;
    }
    .clients {
        margin: 50px 58px;
    }
    .clientsLeft p {
        margin: 12px 0px;
    }
    .my-btn-4 {
        margin-top: 0px;
    }
    .handcarftTop h2 {
        font-size: 40px;
    }
    .handcraft {
        padding: 50px 0px;
    }
    .contactContent h2 {
        font-size: 38px;
    }
    .footerMenu ul li {
        margin: 0px 30px 0px 0px;
    }
    .footerContent {
        margin: 50px 0px;
    }
    .footerMenu {
        margin-bottom: 50px;
    }
    .footerCopy p {
        margin-top: 55px;
    }

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {


}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* Extra small Device. */
@media (max-width: 767px) {

}
    
    /* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 320px) and (max-width: 575px) {

}